@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<link href="~/Content/registration.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />

<div class="register-form">
        <div class="container">
            <div class="row main">
                <div class="panel-heading">
                    <div class="panel-title text-center">
                        <a href="#">
                            <img src="../../Content/images/BNLogo.jpg" class="logo img-responsive" alt="LOGO">
                        </a>
                    </div>
                </div>
                <div class="main-login main-center">
                    <h4>@ViewBag.Title</h4>
                    <hr />
                    <div class="form-group">
                        <div class="cols-sm-12">
                            <h5>Please check your email to reset your password</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer-section">
        <div class="row">
            <div class="col-xs-12">
                <p>
                    <span class="footer-right-powered">Powered by </span><span class="footer-right-text">
                        <img src="../../Images/InfinityLogo.png" width="17" alt="">
                        Infinity Technology International Ltd
                    </span>
                </p>
            </div>
        </div>
    </footer>

