@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<div class="container">
    <div class="panel-group">
        <div class="panel panel-info">
            <div class="panel-heading">Reset password confirmation</div>
            <div class="panel-body">Your password has not been reset</div>
        </div>
    </div>
</div>
