<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="BaseImageUploadFolder" value="E:\BNOIS\File" />
  <add key="BaseDocumentUploadFolder" value="E:\OFFICER'S INFORMATION SYSTEM\Bnois\Bnois\Infinity.Bnois.Api.Web\Documents" />

 <!--local PC-->
  <add key="Authority" value="http://localhost:24116/core" />
  <add key="IssuerUri" value="http://localhost:24116" />
  <add key="PublicOrigin" value="http://localhost:24116" />
  <add key="ApplicantUri" value="http://localhost:24123" />
  
  <!--Server PC-->
  <!--<add key="Authority" value="http://localhost:24116//core" />
  <add key="IssuerUri" value="http://localhost:24116/" />
  <add key="PublicOrigin" value="http://localhost:24116/" />
  <add key="ApplicantUri" value="http://localhost:24123/" />-->

  <add key="IsMemoryUse" value="true" />
  <add key="YearFrom" value="1971" />

  <add key="IsEnableTwoFactor" value="true" />
  <!--Reporing server configuration setup.-->
   <add key="ReportServerUrl" value="http://192.168.1.200/ReportServer" /> 
  <add key="rsDomain" value="DOMAIN" />


   <add key="rsUserName" value="administrator" /> 
   <add key="rsPassword" value="Admin@123" /> 
   <add key="ReportPath" value="/Infinity.Bnois.Report/{0}"/> 

</appSettings>