<div class="container-fluid">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<div class="page-header">
				    <h2 class="warning page-header-item">Service Exam Category<span class="pull-right text-success">{{vm.title}}</span></h2>
				</div>
				<form name="vm.serviceExamCategoryForm">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="examName" class="custom-label">Name</label>
							<input type="text" id="examName" class="form-control custom-form-control" ng-model="vm.serviceExamCategory.examName" name="examName" ng-maxlength="100" required />
							<p ng-show="vm.serviceExamCategoryForm.examName.$error.required" class="help-block errormsg">Exam Name is required</p>
							<p ng-show="vm.serviceExamCategoryForm.examName.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
						</div>
					</div>
				    <div class="col-sm-6">
				        <div class="form-group">
				            <label for="shortName" class="custom-label">Short Name</label>
				            <input type="text" id="shortName" class="form-control custom-form-control" ng-model="vm.serviceExamCategory.shortName" name="shortName" ng-maxlength=12  />
				            <p ng-show="vm.serviceExamCategoryForm.shortName.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
				        </div>
				    </div>
                    
                   
				    <div class="col-xs-12">
						<button type="button" class="btn custom-btn btn-info" ng-click="vm.save()" ng-disabled="vm.serviceExamCategoryForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span> {{vm.saveButtonText}}</button>
						<button type="button" class="btn custom-btn btn-warning" ng-click="vm.close()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>