/Infinity.Bnois/Infinity.Bnois/.vs/
\Infinity.Bnois.Web\.bs\
\Infinity.Bnois.Web\obj\
\Infinity.Bnois.Web\Infinity.Bnois.Web\bin\
\Infinity.Bnois.Web\Infinity.Bnois.Web\obj\
\Infinity.Bnois\Infinity.Bnois.Api\bin\
\Infinity.Bnois\Infinity.Bnois.Api\obj\
\Infinity.Bnois\Infinity.Bnois.Api.Core\bin\
\Infinity.Bnois\Infinity.Bnois.Api.Core\obj\
\Infinity.Bnois\Infinity.Bnois.Api.Web\bin\
\Infinity.Bnois\Infinity.Bnois.Api.Web\obj\
\Infinity.Bnois\Infinity.Bnois.ApplicationService\bin\
\Infinity.Bnois\Infinity.Bnois.ApplicationService\obj\
\Infinity.Bnois\Infinity.Bnois.Configuration\bin\
\Infinity.Bnois\Infinity.Bnois.Configuration\obj\
\Infinity.Bnois\Infinity.Bnois.Data\bin\
\Infinity.Bnois\Infinity.Bnois.Data\obj\
\Infinity.Bnois\Infinity.Bnois.Data.Core\bin\
\Infinity.Bnois\Infinity.Bnois.Data.Core\obj\
\Infinity.Bnois\Infinity.Bnois.Shared\bin\
\Infinity.Bnois\Infinity.Bnois.Shared\obj\
