<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="page-header">
                    <h2 class="warning page-header-item">Transfer Proposal Detail</h2>
                    <button ng-show="vm.permission.add" class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.addProposalDetail()"><span class="glyphicon glyphicon-user"></span> Add</button>
                    <button class="btn custom-btn custom-btn-primary btn-margin-right pull-right" type="button" data-ng-click="vm.back()"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</button>
                    <div ng-include="'app/templates/search.html'" class="search-wrapper"></div>
                </div>
                <div class="table-wrapper table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Transfer Proposal</th>
                                <th>Transfer Type</th>
                                <th>Attach Office</th>
                                <th>Appointment</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="proposalDetail in vm.proposalDetails">
                                <td>{{$index+1}}</td>
                                <td>{{proposalDetail.transferProposal.name}}</td>
                                <td>{{proposalDetail.transferType}}</td>
                                <td>{{proposalDetail.office.shortName}}</td>
                                <td>{{proposalDetail.officeAppointment.shortName==null?"Additional":proposalDetail.officeAppointment.shortName}}</td>
                                <td class="text-right">
                                    <a  class="btn custom-btn btn-edit custom-btn-primary btn-xs" ng-click="vm.getCandidates(proposalDetail)"><span class="fa fa-users" aria-hidden="true" title="Candidates"></span></a>
                                    <a ng-show="vm.permission.update" class="btn custom-btn btn-edit custom-btn-primary btn-xs" ng-click="vm.updateProposalDetail(proposalDetail)"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span></a>
                                    <a ng-show="vm.permission.delete" class="btn custom-btn btn-delete btn-danger btn-xs" style="cursor:pointer" ng-confirmation-click="vm.deleteProposalDetail(proposalDetail)"
                                       ng-confirmation-message="Do you want to delete Proposal Detail ?"
                                       ng-confirmation-title="Delete Proposal Detail ?"
                                       ng-confirmation-yes-text="Yes"
                                       ng-confirmation-cancel-text="No"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Proposal Detail"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagenation-wrapper" ng-if="vm.proposalDetails.length > 0">
                        <ul uib-pagination items-per-page="vm.pageSize" total-items="vm.total" ng-change="vm.pageChanged()" ng-model="vm.pageNumber" max-size="5" class="pagination" boundary-link-numbers="true"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


