<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <button class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.printSection('print')"><span class="glyphicon glyphicon-print"></span> Print</button>

            <div class="panel-body pdfReportFormCover" id="print">
                <h3 class="reportHeader">OPR Grading</h3>
                <hr />

                <h4 class="noScreen" style="border-bottom: 3px solid blue;font-family: Arial">{{vm.officerName}} ({{vm.pNo}})</h4>


                <div ng-if="vm.oprGradings.length>0" class="table-wrapper table-responsive reportCover">
                    <table class="table table-bordered pdfReportTable " border="1">
                        <thead class="reportThead">
                            <tr class="tableHeading reportTR">

                                <th>SL</th>
                                <th>Year</th>
                                <th>Billet</th>
                                <th>Occasion</th>
                                <th>Grading</th>
                                <th>Remarks</th>
                                <th>Avarage</th>
                            </tr>
                        </thead>
                        <tbody class="reportBody">
                            <tr class="reportTR">
                                <td class="reportTR" colspan="6"></td>
                                <td class="reportTR" rowspan="{{vm.oprGradings.length+1}}" style="vertical-align : middle;text-align:center;">{{vm.oprGradings[0].avarage}}</td>
                            </tr>
                            <tr class="reportTR" ng-repeat="oprGrading in vm.oprGradings">
                                <td class="reportTD" style="text-align: center; width: 50px;">{{$index+1}}</td>
                                <td class="reportTD" style="text-align: center">{{oprGrading.year}}</td>
                                <td class="reportTD">{{oprGrading.billet}}</td>
                                <td class="reportTD">{{oprGrading.occasion}}</td>
                                <td style="text-align: center">{{oprGrading.grading}}</td>
                                <td class="reportTD">{{oprGrading.remarks}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

                <h5 ng-if="vm.oprGradings.length==null" class="text-center" style="margin-top: 15px;">No data found. </h5>


            </div>
        </div>
    </div>
</div>