<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <button  class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.printSection('print')"><span class="glyphicon glyphicon-print"></span> Print</button>

            <div class="panel-body" id="print">
                <h3 class="reportHeader">Security Clearance</h3>
                <hr />
                <h4 class="noScreen" style="border-bottom: 3px solid blue;font-family: Arial">{{vm.officerName}} ({{vm.pNo}})</h4>

                <div ng-if="vm.securityClearanceReasons.length>0" class="table-wrapper table-responsive reportCover">
                    <table class="table table-bordered pdfReportTable">
                        <thead class="reportHeader">
                            <tr class="tableHeading reportTR">
                                <th>SL</th>
                                <th>Clearance For</th>
                                <th>Date</th>
                                <th>Is Cleared</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody class="reportBody">
                            <tr class="reportTR" ng-repeat="securityClearanceReason in vm.securityClearanceReasons">
                                <td class="reportTD" style="text-align: center; width: 50px;">{{$index+1}}</td>
                                <td class="reportTD">{{securityClearanceReason.clearanceFor}}</td>
                                <td class="reportTD" style="text-align: center;width: 100px;">{{securityClearanceReason.clearanceDate | date: "dd-MMM-yyyy"}}</td>
                                <td class="reportTD">{{securityClearanceReason.isCleared}}</td>
                                <td class="reportTD">{{securityClearanceReason.remarks}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <h5 ng-if="vm.securityClearanceReasons.length==null" class="text-center" style="margin-top: 15px;">No data found. </h5>

            </div>
        </div>
    </div>
</div>