<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="page-header">
                    <h2 class="warning page-header-item">Employee TRACE Information</h2>
                    <button ng-show="vm.permission.add" class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.addEmployeeTrace()"><span class="glyphicon glyphicon-user"></span> Add</button>
                    <div ng-include="'app/templates/search.html'" class="search-wrapper"></div>
                </div>
                <div class="table-wrapper table-responsive">
                    <!--<pre>{{vm.employeeTraceList | json}}</pre>-->
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>PNo </th>
                                <th>Name & Rank </th>
                                <th>TRACE Mark</th>
                                <th>Branch Position</th>
                                <th>Rank Position</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employeeTrace in vm.employeeTraceList">
                                <td>{{$index + 1}}</td>
                                <td>{{employeeTrace.employee.pNo}}</td>
                                <td>{{employeeTrace.employee.fullNameEng}}</td>
                                <td>{{employeeTrace.traceMark}}</td>
                                <td>{{employeeTrace.remarks}}</td>
                                <td>{{employeeTrace.remarks2}}</td>
                                <td class="text-right">
                                    <a ng-show="vm.permission.update" class="btn custom-btn btn-edit custom-btn-primary btn-xs" ng-click="vm.updateEmployeeTrace(employeeTrace)"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span></a>
                                    <a ng-show="vm.permission.delete" class="btn custom-btn btn-delete btn-danger btn-xs" style="cursor:pointer" ng-confirmation-click="vm.deleteEmployeeTrace(employeeTrace)"
                                       ng-confirmation-message="Do you want to delete Car Loan?"
                                       ng-confirmation-title="Delete Car Loan?"
                                       ng-confirmation-yes-text="Yes"
                                       ng-confirmation-cancel-text="No"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Subject"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagenation-wrapper" ng-if="vm.employeeTraceList.length > 0">
                        <ul uib-pagination items-per-page="vm.pageSize" total-items="vm.total" ng-change="vm.pageChanged()" ng-model="vm.pageNumber" max-size="5" class="pagination" boundary-link-numbers="true"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


