<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="page-header">
                    <h2 class="warning page-header-item">Officer Family Permission<span class="pull-right text-success">{{vm.title}}</span></h2>
                </div>
                <form name="vm.employeeFamilyPermissionForm">

                    <employee-search ng-model="vm.employeeFamilyPermission.employee"></employee-search>

                    <!--<div class="col-sm-6" ng-if="vm.employeeFamilyPermission.employee.employeeId>0">
                        <div class="form-group">
                            <input type="checkbox" id="isBackLog" class="form-check-input" ng-model="vm.employeeFamilyPermission.isBackLog" name="isBackLog" ng-change="vm.isBackLogChecked(vm.employeeFamilyPermission.isBackLog)" />
                            <label for="isBackLog" class="custom-label"> Back Log </label>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="vm.employeeFamilyPermission.isBackLog">
                        <div class="form-group">
                            <label for="rankId" class="custom-label">Rank</label>
                            <select name="rankId" id="rankId" class="form-control" ng-model="vm.employeeFamilyPermission.rankId"
                                    ng-options="option.value as option.text for option in vm.ranks">
                                <option value="">--Select an Option--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="vm.employeeFamilyPermission.isBackLog">
                        <div class="form-group">
                            <label for="transferId" class="custom-label">Born/Attach/Appointment</label>
                            <select name="transferId" id="transferId" class="form-control" ng-model="vm.employeeFamilyPermission.transferId"
                                    ng-options="option.value as option.text for option in vm.transfers">
                                <option value="">--Select an Option--</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="relationId" class="custom-label">Relation Type</label>
                                <select name="relationId" id="relationId" class="form-control" ng-model="vm.employeeFamilyPermission.relationId" ng-options="option.value as option.text for option in vm.familyPermissionRelationTypes" required>
                                    <option value="">--Select an Option--</option>
                                </select>
                                <p ng-show="vm.employeeFamilyPermissionForm.relationId.$error.required" class="help-block errormsg">Please select an Option</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="countryId" class="custom-label">Country</label>
                                <select name="countryId" id="countryId" class="form-control" ng-model="vm.employeeFamilyPermission.countryId" ng-options="option.value as option.text for option in vm.familyPermissionCountryList" required>
                                    <option value="">--Select an Option--</option>
                                </select>
                                <p ng-show="vm.employeeFamilyPermissionForm.countryId.$error.required" class="help-block errormsg">Please select an Option</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fromDate" class="custom-label">From</label>
                                <input kendo-date-picker id="fromDate" class="form-control custom-form-control" k-ng-model="vm.employeeFamilyPermission.fromDate" k-format="'dd-MM-yyyy'" name="fromDate" required />
                                <p ng-show="vm.employeeFamilyPermissionForm.fromDate.$error.required" class="help-block errormsg">Date is required.</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="relativeName" class="custom-label">Relative Name</label>
                                <input type="text" id="relativeName" class="form-control custom-form-control" ng-model="vm.employeeFamilyPermission.relativeName" name="relativeName" />
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="toDate" class="custom-label"> To</label>
                                <input kendo-date-picker id="toDate" class="form-control custom-form-control" k-ng-model="vm.employeeFamilyPermission.toDate" k-format="'dd-MM-yyyy'" name="toDate" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="visitPurpose" class="custom-label">Visit Purpose</label>
                                <textarea type="text" id="visitPurpose" class="form-control custom-form-control" ng-model="vm.employeeFamilyPermission.visitPurpose" name="visitPurpose" maxlength="1500"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="remarks" class="custom-label">Remarks</label>
                                <textarea type="text" id="remarks" class="form-control custom-form-control" ng-model="vm.employeeFamilyPermission.remarks" name="remarks" maxlength="1500" ></textarea>
                                <p ng-show="vm.employeeFamilyPermissionForm.remarks.$error.maxlength" class="help-block errormsg">Maximum character 1500</p>
                                <!--<p ng-show="vm.employeeFamilyPermissionForm.remarks.$error.required" class="help-block errormsg">Remarks is required</p>-->
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <button type="button" class="btn custom-btn btn-info" ng-click="vm.save()" ng-disabled="vm.employeeFamilyPermissionForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span> {{vm.saveButtonText}}</button>
                        <button type="button" class="btn custom-btn btn-warning" ng-click="vm.close()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>