
<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="page-header">
                    <h2 class="warning page-header-item">Extra Appointment<span class="pull-right text-success">{{vm.title}}</span></h2>
                </div>
                <form name="vm.extraAppointmentForm">
                    <employee-search ng-model="vm.extraAppointment.employee"></employee-search>

                    <div class="col-sm-12">
                        <hr />
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="officeId" class="custom-label"> Office</label>


                            <angucomplete-alt id="officeId"
                                              placeholder="Search  Office"
                                              pause="400"
                                              maxlength="250"
                                              minlength="2"
                                              selected-object="vm.selected"
                                              local-data="vm.offices"
                                              local-search="vm.localSearch"
                                              title-field="text"
                                              match-class="highlight"
                                              field-required="true"
                                              input-name="officeId"
                                              override-suggestions="true"
                                              auto-match="true"
                                              text-no-results="Office Not Found"
                                              input-class="form-control form-control-small" />
                            <!-- <select name="officeId" id="officeId" class="form-control" ng-model="vm.extraAppointment.officeId" ng-options="option.value as option.text for option in vm.offices" required -->
                            <!--         ng-change="vm.getExtraAppointmentByOffice(vm.extraAppointment.officeId)"> -->
                            <!--     <option value="">--Select an Option--</option> -->
                            <!-- </select> -->
                            <!-- <p ng-show="vm.extraAppointmentForm.officeId.$error.required" class="help-block errormsg">Please select an Option</p> -->
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="appointmentId" class="custom-label"> Appointment</label> <br/>
                            <select name="appointmentId" id="appointmentId" class="form-control" ng-model="vm.extraAppointment.appointmentId" ng-options="option.value as option.text for option in vm.appointments" required>
                                <option value="">--Select an Option--</option>
                            </select>
                            <p ng-show="vm.extraAppointmentForm.appointmentsId.$error.required" class="help-block errormsg">Please select an Option</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="assignDate" class="custom-label"> From Date</label>
                            <input kendo-date-picker id="assignDate" class="form-control custom-form-control" k-ng-model="vm.extraAppointment.assignDate" k-format="'dd-MM-yyyy'" name="assignDate" required/>


                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="endDate" class="custom-label"> End Date</label>
                            <input kendo-date-picker id="endDate" class="form-control custom-form-control" k-ng-model="vm.extraAppointment.endDate" k-format="'dd-MM-yyyy'" name="endDate" />


                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="remarks" class="custom-label">Remarks</label>
                            <textarea type="text" id="remarks" class="form-control custom-form-control" ng-model="vm.extraAppointment.remarks" name="remarks" maxlength="250"></textarea>
                            <p ng-show="vm.extraAppointmentForm.remarks.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                        </div>
                    </div>




                    <div class="col-xs-12">
                        <br />
                        <button type="button" class="btn custom-btn btn-info" ng-click="vm.save()" ng-disabled="vm.trainingResultForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span> {{vm.saveButtonText}}</button>
                        <button type="button" class="btn custom-btn btn-warning" ng-click="vm.close()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>