<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="page-header">
                    <h2 class="warning page-header-item">Siblings Information</h2>
                    <button ng-show="vm.permission.add" class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.addSibling()"><span class="glyphicon glyphicon-user"></span> Add</button>
                    <!-- <div ng-include="'app/templates/search.html'" class="search-wrapper"></div> -->
                </div>
                <div class="table-wrapper table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>SL No</th>
                                <th>Sibling Type</th>
                                <th>Sibling Name</th>
                                <th>Occupation</th>
                                <th>Date of Birth</th>                               
                                <th class="text-right"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sibling in vm.siblings">
                                <td>{{$index+1}}</td>
                                <td>{{sibling.siblingTypeName}}</td>
                                <td>{{sibling.name}}</td>
                                <td>{{sibling.occupation.name}}</td>
                                <td>{{sibling.dateOfBirth | date: "dd-MM-yyyy"}}</td>      
                                <td class="text-right">
                                    <a  class="btn custom-btn btn-edit custom-btn-primary btn-xs" ng-click="vm.uploadSiblingImage(sibling)"><span class="fa fa-image" aria-hidden="true" title="Sibling's Image"></span></a>
                                    <a ng-show="vm.permission.update" class="btn custom-btn btn-edit custom-btn-primary btn-xs" ng-click="vm.updateSibling(sibling)"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span></a>
                                    <a ng-show="vm.permission.delete" class="btn custom-btn btn-delete btn-danger btn-xs" style="cursor:pointer" ng-confirmation-click="vm.deleteSibling(sibling)"
                                       ng-confirmation-message="Do you want to delete Sibling ?"
                                       ng-confirmation-title="Delete Sibling ?"
                                       ng-confirmation-yes-text="Yes"
                                       ng-confirmation-cancel-text="No"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Sibling"></span></a>


                                </td>
                            </tr>
                        </tbody>
                    </table>
           
                </div>
            </div>
        </div>
    </div>
</div>


