<div class="container-fluid">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<div class="page-header">
				    <h2 class="warning page-header-item">Institute Type <span class="pull-right text-success">{{vm.title}}</span></h2>
				</div>
				<form name="vm.instituteTypeForm">
					<div class="col-sm-6">
						<div class="form-group">
							<label for="name" class="custom-label">Institute Type</label>
							<input type="text" id="name" class="form-control custom-form-control" ng-model="vm.instituteType.name" name="name" ng-maxlength="250" required />
							<p ng-show="vm.instituteTypeForm.name.$error.required" class="help-block errormsg">Name is required</p>
							<p ng-show="vm.instituteTypeForm.name.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="remarks" class="custom-label">Remarks</label>
						    <textarea type="text" id="remarks" class="form-control custom-form-control" ng-model="vm.instituteType.remarks" name="remarks" ng-maxlength="250"></textarea>
						    <p ng-show="vm.instituteTypeForm.remarks.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
						</div>
					</div>
					<div class="col-xs-12">
						<button type="button" class="btn custom-btn btn-info" ng-click="vm.save()" ng-disabled="bloodGroupForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span> {{vm.saveButtonText}}</button>
						<button type="button" class="btn custom-btn btn-warning" ng-click="vm.close()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>