<div class="container-fluid pdfReportFormCover" >
    <div class="row">
        <div class="panel">
	         <button  class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.printSection('print')"><span class="glyphicon glyphicon-print"></span> Print</button>

             <div class="panel-body" id="print">
                 <h3 class="reportHeader">Medal, Award & Publication</h3>
                 <hr />

                 <h4 class="noScreen" style="border-bottom: 3px solid blue;font-family: Arial">{{vm.officerName}} ({{vm.pNo}})</h4>


                 <h4 ng-if="vm.medals.length>0" class="text-center reportHeader">Medal</h4>
                 <div ng-if="vm.medals.length>0" class="table-wrapper table-responsive reportCover">
                     <table class="table table-bordered pdfReportTable" border="1">
                         <thead class="reportThead">
                             <tr class="tableHeading reportTR">
                                 <th>SL</th>
                                 <th>Medal Name</th>
                                 <th>Date</th>

                             </tr>
                         </thead>
                         <tbody class="reportBody">
                             <tr class="reportTR" ng-repeat="medal in vm.medals">
                                 <td class="reportTR" style="text-align: center; width: 50px;">{{$index+1}}</td>
                                 <td class="reportTR">{{medal.medal}}</td>
                                 <td class="reportTR" style="text-align: center;width: 100px;">{{medal.date | date:"dd-MMM-yyyy"}}</td>
                             </tr>
                         </tbody>
                     </table>

                 </div>



                 <h4 ng-if="vm.awards.length>0" class="text-center reportHeader">Award</h4>
                 <div ng-if="vm.awards.length>0" class="table-wrapper table-responsive reportCover">
                     <table class="table table-bordered pdfReportTable" border="1">
                         <thead class="reportThead">
                             <tr class="tableHeading reportTR">
                                 <th>SL</th>
                                 <th>Award Name</th>
                                 <th>Date</th>

                             </tr>
                         </thead>
                         <tbody class="reportBody">
                             <tr class="reportTR" ng-repeat="award in vm.awards">
                                 <td class="reportTD" style="text-align: center; width: 50px;">{{$index+1}}</td>
                                 <td class="reportTD">{{award.award}}</td>
                                 <td class="reportTD" style="text-align: center;width: 100px;">{{award.date | date:"dd-MMM-yyyy"}}</td>
                             </tr>
                         </tbody>
                     </table>

                 </div>


                 <h4 ng-if="vm.publications.length>0" class="text-center reportHeader">Publication</h4>
                 <div ng-if="vm.publications.length>0" class="table-wrapper table-responsive reportCover">
                     <table class="table table-bordered pdfReportTable">
                         <thead class="reportThead">
                             <tr class="tableHeading reportTR">
                                 <th>SL</th>
                                 <th>Category</th>
                                 <th>Publication Name</th>
                                 <th>Date</th>
                                 <th>Remarks</th>

                             </tr>
                         </thead>
                         <tbody class="reportBody">
                             <tr class="reportTR" ng-repeat="publication in vm.publications">
                                 <td class="reportTD" style="text-align: center; width: 50px;">{{$index+1}}</td>
                                 <td class="reportTD">{{publication.publicationCategory}}</td>
                                 <td class="reportTD">{{publication.publication}}</td>
                                 <td class="reportTD" style="text-align: center;width: 100px;">{{publication.date | date:"dd-MMM-yyyy"}}</td>
                                 <td class="reportTD">{{publication.remarks}}</td>
                             </tr>
                         </tbody>
                     </table>

                 </div>



                 <h4 ng-if="vm.cleanServices.length>0" class="text-center reportHeader">Clean Service Allowance</h4>
                 <div ng-if="vm.cleanServices.length>0" class="table-wrapper table-responsive reportCover">
                     <table class="table table-bordered pdfReportTable" border="1">
                         <thead class="reportThead">
                             <tr class="tableHeading reportTR">
                                 <th>SL</th>
                                 <th>Clean Service Allowance</th>
                                 <th>Remarks</th>
                                 <th>Date</th>

                             </tr>
                         </thead>
                         <tbody class="reportBody">
                             <tr class="reportTR" ng-repeat="cleanService in vm.cleanServices">
                                 <td class="reportTR" style="text-align: center; width: 50px;">{{$index+1}}</td>
                                 <td class="reportTR">{{cleanService.cleanServiceName}}</td>
                                 <td class="reportTR">{{cleanService.remarks}}</td>
                                 <td class="reportTR" style="text-align: center;width: 100px;">{{cleanService.date | date:"dd-MMM-yyyy"}}</td>
                             </tr>
                         </tbody>
                     </table>

                 </div>



             </div>
        </div>
    </div>
</div>