<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <button  class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.printSection('print')"><span class="glyphicon glyphicon-print"></span> Print</button>

            <div class="panel-body" id="print">
                <h3 class="reportHeader">Zone Services</h3>
                <hr />
                <h4 class="noScreen" style="border-bottom: 3px solid blue;font-family: Arial">{{vm.officerName}} ({{vm.pNo}})</h4>



                <div class="table-wrapper table-responsive reportCover">
                    <table class="table table-bordered pdfReportTable" border="1">
                        <thead class="reportHeader">
                            <tr class="tableHeading reportTR">

                                <th>Zone</th>
                                <th>Office Name</th>
                                <th>From Date</th>
                                <th>To Date </th>
                                <th>Duration</th>
                                <th>Sub Total Duration</th>
                                <th>Grand Total Duration</th>
                            </tr>
                        </thead>
                        <tbody class="reportBody">

                            <tr class="reportTR">
                                <td class="reportTR" colspan="6"></td>
                                <td class="reportTR" rowspan="120" style="vertical-align : middle;text-align:center;">{{vm.zoneServicesGrandTotal[0].grandTotalDuration}}</td>
                            </tr>


                            <tr class="reportTR" ng-repeat-start="(key, val) in vm.zoneServices">

                                <td class="reportTD" rowspan="{{val.length}}" style="vertical-align : middle;text-align:center;"><strong style="text-transform:capitalize">{{key }}</strong></td>
                                <td class="reportTD">{{val[0].officeName}}</td>
                                <td class="reportTD" style="width: 100px;">{{val[0].fromDate | date:"dd-MMM-yyyy"}}</td>
                                <td class="reportTD" style="width: 100px;">{{val[0].toDate | date:"dd-MMM-yyyy"}}</td>
                                <td class="reportTD" style="width: 100px;">{{val[0].duration}}</td>
                                <td class="reportTD" rowspan="{{val.length}}" style="vertical-align : middle;text-align:center;text-transform: lowercase;">{{val[0].subTotalDuration}}</td>


                            </tr>


                            <tr class="reportTR" ng-repeat-end ng-repeat="value in val.slice(1)">
                                <td class="reportTD">{{value.officeName}}</td>
                                <td class="reportTD">{{value.fromDate | date:"dd-MMM-yyyy"}}</td>
                                <td class="reportTD">{{value.toDate | date:"dd-MMM-yyyy"}}</td>
                                <td class="reportTD" style="text-transform: lowercase;">{{value.duration}}</td>

                            </tr>

                        </tbody>
                    </table>

                </div>

                <h3 class="reportHeader">Course / Mission/ Embassy</h3>
                <hr />
                <h4 class="noScreen" style="border-bottom: 3px solid blue;font-family: Arial">{{vm.officerName}} ({{vm.pNo}})</h4>



                <div class="table-wrapper table-responsive reportCover">
                    <table class="table table-bordered pdfReportTable" border="1">
                        <thead class="reportThead">
                            <tr class="tableHeading reportTR">
                                <th>Office Name</th>
                                <th>From Date</th>
                                <th>To Date </th>
                                <th>Duration</th>
                                <th>Total Duration</th>
                            </tr>
                        </thead>
                        <tbody class="reportBody">
                            <tr class="reportTR">
                                <td class="reportTR" colspan="4"></td>
                                <td class="reportTR" rowspan="120" style="vertical-align : middle;text-align:center;">{{vm.zoneCourseMissionServices[0].subTotalDuration}}</td>
                            </tr>

                            <tr class="reportTR" ng-repeat="service in vm.zoneCourseMissionServices">

                                <td class="reportTD">{{service.officeName}}</td>
                                <td class="reportTD" style="width: 100px;">{{service.fromDate | date:"dd-MMM-yyyy"}}</td>
                                <td class="reportTD" style="width: 100px;">{{service.toDate | date:"dd-MMM-yyyy"}}</td>
                                <td class="reportTD" style="width: 100px;">{{service.duration}}</td>
                                
                            </tr>

                        </tbody>
                    </table>

                </div>




                <!-- <h5 ng-if="vm.additionalSeaServices.length==null && vm.seaServices.length==null" class="text-center" style="margin-top: 15px;">No data found. </h5> -->

            </div>
        </div>
    </div>
</div>