<div class="container-fluid">
	<div class="row">
		<div class="panel">
			<button class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.printSection('print')"><span class="glyphicon glyphicon-print"></span> Print</button>

			<div class="panel-body pdfReportFormCover" id="print">
				<h3 class="reportHeader">{{vm.appointment==1 ? 'CO' : vm.appointment==2 ? 'XO' : 'CO/XO'}} PROPOSED/WAITING LIST ({{vm.shipName}})</h3>
				<hr />

				<div ng-if="vm.largeShipCoXos.length>0" class="table-wrapper table-responsive reportCover">
					<table class="table table-bordered pdfReportTable" border="1">
						<thead class="reportThead">
							<tr class="tableHeading reportTR">

								<th style="vertical-align : middle;">SL</th>
								<th style="vertical-align : middle;"> P No</th>
								<th style="vertical-align : middle;width:250px;">Rank & Name</th>
								<th style="vertical-align: middle; width: 90px;">Batch</th>
								<th style="vertical-align : middle;">Present Billet</th>
								<th style="vertical-align: middle; width: 100px;">Since</th>
								<th style="vertical-align: middle; width: 70px;">Propose Appt</th>
								<th style="vertical-align : middle;">Propose Type</th>
								<th style="vertical-align : middle;">Proposed Date</th>
								<th style="text-align: center">Remarks</th>

							</tr>
						</thead>
						<tbody class="reportBody">
							<tr ng-repeat="largeShipCoXo in vm.largeShipCoXos" class="reportTR">
								<td class="reportTD" style="text-align: center; width: 20px;">{{$index+1}}</td>

								<td class="reportTD">{{largeShipCoXo.pNo}}</td>
								<td class="reportTD"><a href="" ng-click="vm.officeCurrentStatus(largeShipCoXo.pNo)"> <strong>{{largeShipCoXo.fullNameEng}}</strong></a></td>
								<td class="reportTD">{{largeShipCoXo.batch}}</td>
								<td class="reportTD">{{largeShipCoXo.billet}}</td>
								<td class="reportTD">{{largeShipCoXo.since | date:"dd-MMM-yyyy"}}</td>
								<td class="reportTD">{{largeShipCoXo.appt}}</td>
								<td class="reportTD" style="{{largeShipCoXo.type==1 ? 'color:blue' : 'color:green'}}">{{largeShipCoXo.appointmentType}}</td>
								<td class="reportTD">{{largeShipCoXo.proposedDate | date:"dd-MMM-yyyy"}}</td>
								<td class="reportTD">{{largeShipCoXo.remarks}}</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div>
	</div>
</div>