<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="page-header">
                    <h2 class="warning page-header-item">Officer MSc Education<span class="pull-right text-success">{{vm.title}}</span></h2>
                </div>
                <form name="vm.employeeMscEducationForm">

                    <employee-search ng-model="vm.employeeMscEducation.employee"></employee-search>

                    <!--<div class="col-sm-6" ng-if="vm.employeeMscEducation.employee.employeeId>0">
                        <div class="form-group">
                            <input type="checkbox" id="isBackLog" class="form-check-input" ng-model="vm.employeeMscEducation.isBackLog" name="isBackLog" ng-change="vm.isBackLogChecked(vm.employeeMscEducation.isBackLog)" />
                            <label for="isBackLog" class="custom-label"> Back Log </label>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="vm.employeeMscEducation.isBackLog">
                        <div class="form-group">
                            <label for="rankId" class="custom-label">Rank</label>
                            <select name="rankId" id="rankId" class="form-control" ng-model="vm.employeeMscEducation.rankId"
                                    ng-options="option.value as option.text for option in vm.ranks">
                                <option value="">--Select an Option--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6" ng-show="vm.employeeMscEducation.isBackLog">
                        <div class="form-group">
                            <label for="transferId" class="custom-label">Born/Attach/Appointment</label>
                            <select name="transferId" id="transferId" class="form-control" ng-model="vm.employeeMscEducation.transferId"
                                    ng-options="option.value as option.text for option in vm.transfers">
                                <option value="">--Select an Option--</option>
                            </select>
                        </div>
                    </div>-->
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mscEducationTypeId" class="custom-label">Program Type</label>
                                <select name="mscEducationTypeId" id="mscEducationTypeId" class="form-control" ng-model="vm.employeeMscEducation.mscEducationTypeId" ng-options="option.value as option.text for option in vm.mscEducationTypeList" required>
                                    <option value="">--Select an Option--</option>
                                </select>
                                <p ng-show="vm.employeeMscEducationForm.mscEducationTypeId.$error.required" class="help-block errormsg">Please select an Option</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mscInstituteId" class="custom-label">Msc Institute</label>
                                <select name="mscInstituteId" id="mscInstituteId" class="form-control" ng-model="vm.employeeMscEducation.mscInstituteId" ng-options="option.value as option.text for option in vm.mscInstituteList" required>
                                    <option value="">--Select an Option--</option>
                                </select>
                                <p ng-show="vm.employeeMscEducationForm.mscInstituteId.$error.required" class="help-block errormsg">Please select an Option</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="mscPermissionTypeId" class="custom-label">Arrangement</label>
                                <select name="mscPermissionTypeId" id="mscPermissionTypeId" class="form-control" ng-model="vm.employeeMscEducation.mscPermissionTypeId" ng-options="option.value as option.text for option in vm.mscPermissionTypeList" required>
                                    <option value="">--Select an Option--</option>
                                </select>
                                <p ng-show="vm.employeeMscEducationForm.mscPermissionTypeId.$error.required" class="help-block errormsg">Please select an Option</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="countryId" class="custom-label">Country</label>
                                <select name="countryId" id="countryId" class="form-control" ng-model="vm.employeeMscEducation.countryId" ng-options="option.value as option.text for option in vm.countryList" required>
                                    <option value="">--Select an Option--</option>
                                </select>
                                <p ng-show="vm.employeeMscEducationForm.countryId.$error.required" class="help-block errormsg">Please select an Option</p>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="permissionYear" class="custom-label">Permission Year</label>
                                <input type="text" id="permissionYear" class="form-control custom-form-control" ng-model="vm.employeeMscEducation.permissionYear" name="permissionYear" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="passingYear" class="custom-label">Passing Year</label>
                                <input type="text" id="passingYear" class="form-control custom-form-control" ng-model="vm.employeeMscEducation.passingYear" name="passingYear" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="results" class="custom-label">Result</label>
                                <input type="text" id="results" class="form-control custom-form-control" ng-model="vm.employeeMscEducation.results" name="results" />
                            </div>
                        </div>
                    </div>
                    

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fromDate" class="custom-label">  Duration From</label>
                                <input kendo-date-picker id="fromDate" class="form-control custom-form-control" k-ng-model="vm.employeeMscEducation.fromDate" k-format="'dd-MM-yyyy'" name="fromDate" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="toDate" class="custom-label">  Duration To</label>
                                <input kendo-date-picker id="toDate" class="form-control custom-form-control" k-ng-model="vm.employeeMscEducation.toDate" k-format="'dd-MM-yyyy'" name="toDate" />
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="remarks" class="custom-label">Remarks</label>
                                <textarea type="text" id="remarks" class="form-control custom-form-control" ng-model="vm.employeeMscEducation.remarks" name="remarks" maxlength="250"></textarea>
                                <!--<p ng-show="vm.employeeMscEducationForm.remarks.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                                <p ng-show="vm.employeeMscEducationForm.remarks.$error.required" class="help-block errormsg">Remarks is required</p>-->
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="isComplete" class="custom-label">Status</label>
                                <div class="radio-inline" ng-repeat=" status in vm.mscCompleteTypes">

                                    <label>
                                        <input type="radio" id="type" ng-model="vm.employeeMscEducation.completeStatus"
                                               value="{{status.value}}" required> {{status.text}}
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12">
                        <button type="button" class="btn custom-btn btn-info" ng-click="vm.save()" ng-disabled="vm.employeeMscEducationForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span> {{vm.saveButtonText}}</button>
                        <button type="button" class="btn custom-btn btn-warning" ng-click="vm.close()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>