<?xml version="1.0"?>
<connectionStrings>


  <!-- ~1~OFFICE Server PC @1@ -->
  <!-- Don't remove this code please. -->
    <!-- <add name="BnoisDbContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FKKDBQ6\MSSQLSERVER14;initial catalog=Bnoisdb;user id=sa;password=@Admin123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
     <add name="InfinityIConfigurationEntities" connectionString="data source=DESKTOP-FKKDBQ6\MSSQLSERVER14;initial catalog=Bnoisdb;user id=sa;password=@Admin123;integrated security=false;" providerName="System.Data.EntityClient" /> 
     <add name="InfinityIdentityEntities" connectionString="data source=DESKTOP-FKKDBQ6\MSSQLSERVER14;initial catalog=Bnoisdb;user id=sa;password=@Admin123;integrated security=false;" providerName="System.Data.EntityClient" />-->

<!--Local PC -->
  <add name="BnoisDbContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-JQ52CVB;initial catalog=Bnoisdb2;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="InfinityIConfigurationEntities" connectionString="data source=DESKTOP-JQ52CVB;initial catalog=Bnoisdb2;user id=sa;password=123456;integrated security=false;" providerName="System.Data.EntityClient" />
  <add name="InfinityIdentityEntities" connectionString="data source=DESKTOP-JQ52CVB;initial catalog=Bnoisdb2;user id=sa;password=123456;integrated security=false;" providerName="System.Data.EntityClient" />

  <!--Navy Server PC-->
  <!-- Don't remove this code please. -->
  <!---->
   <!--<add name="BnoisDbContext" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BNOIS_SERVER\SQL14;initial catalog=Bnoisdb;user id=sa;password=123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
   <add name="InfinityIConfigurationEntities" connectionString="data source=BNOIS_SERVER\SQL14;initial catalog=Bnoisdb;user id=sa;password=123456;integrated security=false;" providerName="System.Data.EntityClient" />
   <add name="InfinityIdentityEntities" connectionString="data source=BNOIS_SERVER\SQL14;initial catalog=Bnoisdb;user id=sa;password=123456;integrated security=false;" providerName="System.Data.EntityClient" />-->
   

</connectionStrings>
