@{
    ViewBag.Title = "Reset password confirmation";
}

<style>
    .main-center {
        margin: 0 auto;
        margin-top: 130px;
        max-width: 730px;
        padding: 20px 30px;
    }
</style>

<div class="">
    <div class="container">
        <div class="row">
            <div class="main-center">
                <div class="panel-group">
                    <div class="panel panel-info">
                        <div class="panel-heading"><h3>@ViewBag.Title</h3></div>
                        <div class="panel-body">Your password has been reset. Please @Html.ActionLink("click here to log in", "login", "core/authentication", routeValues: null, htmlAttributes: new { id = "loginLink" })</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>