<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <button  class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.printSection('print')"><span class="glyphicon glyphicon-print"></span> Print</button>
            <div class="panel-body pdfReportFormCover" id="print">

                <h3 class="reportHeader" >Commendation/Appreciation </h3>
                <hr />
                <h4 class="noScreen" style="border-bottom: 3px solid blue;font-family: Arial">{{vm.officerName}} ({{vm.pNo}})</h4>

                <h4 ng-if="vm.commendations.length>0" class="text-center">Commendation</h4>
                <div ng-if="vm.commendations.length>0" class="table-wrapper table-responsive reportCover">
                    <table class="table table-bordered pdfReportTable " border="1">
                        <thead class="reportThead">
                            <tr class="tableHeading reportTR">
                                <th >SL</th>
                                <th>Commendation</th>
                                <th>Remarks</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody class="reportBody">
                            <tr class="reportTR" ng-repeat="commendation in vm.commendations">
                                <td class="reportTD" style="text-align: center; width: 50px;">{{$index+1}}</td>
                                <td class="reportTD">{{commendation.commendation}}</td>
                                <td class="reportTD">{{commendation.remarks}}</td>
                                <td class="reportTD" style="text-align: center;width: 100px;">{{commendation.date | date:"dd-MMM-yyyy"}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>


                <h4 ng-if="vm.appreciations.length>0" class="text-center">Appreciation</h4>
                <div ng-if="vm.appreciations.length>0" class="table-wrapper table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="tableHeading">
                                <th>SL</th>
                                <th>Appreciation</th>
                                <th>Remarks</th>
                                <th>Date</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="appreciation in vm.appreciations">
                                <td style="text-align: center; width: 50px;">{{$index+1}}</td>
                                <td>{{appreciation.commendation}}</td>
                                <td>{{appreciation.remarks}}</td>
                                <td style="text-align: center;width: 100px;">{{appreciation.date | date:"dd-MMM-yyyy"}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>


                <h4 ng-if="vm.notableAchievements.length>0" class="text-center">Notable Achievement & Command Note</h4>
                <div ng-if="vm.notableAchievements.length>0" class="table-wrapper table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr class="tableHeading">
                                <th>SL</th>
                                <th>Remarks</th>
                                <th>Date</th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="notableAchievement in vm.notableAchievements">
                                <td style="text-align: center; width: 50px;">{{$index+1}}</td>
                                <td>{{notableAchievement.remarks}}</td>
                                <td style="text-align: center;width: 100px;">{{notableAchievement.date | date:"dd-MMM-yyyy"}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>



            </div>
        </div>
    </div>
</div>