



<div> <!--style="display: block;width: 78%;float: right;overflow: hidden;padding-right: 15px;"-->
    <div class="panel">
        <button class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.printSection('print')"><span class="glyphicon glyphicon-print"></span> Print</button>

        <div class="panel-body pdfReportFormCover">

            <div class="col-sm-9" id="print">
                <h3 class="reportHeader">Officer's Current Status</h3>
                <hr />
                <!--for print-->
                <div class="col-sm-3 noScreen">
                    <img ng-if="vm.currentStatus.photo != null" src="{{vm.currentStatus.photo}}" style="display: block;margin-right: auto; margin-top:10px; margin-left: auto; width: 50%;height:200px;width: 165px" alt="Officer's Photo'" />
                    <img ng-if="vm.currentStatus.photo==null" src="../../../Images/officer.png" style="display: block; margin-right: auto; margin-top: 10px; margin-left: auto; width: 50%; height: 200px; width: 165px" alt="Officer's Photo'" />
                    <br />
                    <h4 style="text-align: center;margin:0;padding:0;">P No: <span style="color: blue">{{vm.currentStatus.pNo}}</span> </h4>
                    <h5 style="text-align: center; margin: 0; padding: 0;">Rank: <span style="color: blue">{{vm.currentStatus.rank}}</span> </h5>
                </div>
                <h4 class="noScreen" style="border-bottom: 3px solid blue;font-family: Arial">{{vm.officerName}} ({{vm.pNo}})</h4>

                <div class="col-sm-9 table-responsive reportCover">

                    <table class="table table-bordered pdfReportTable">
                        <tr class="reportTR">
                            <td class="reportTD" style="width: 165px;"><strong>Officer From</strong></td>
                            <td class="reportTD">{{vm.currentStatus.officerFrom}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>P No</strong></td>
                            <td class="reportTD">{{vm.currentStatus.pNo}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Rank & Name</strong></td>
                            <td class="reportTD">{{vm.currentStatus.rankAndName}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Category</strong></td>
                            <td class="reportTD">{{vm.currentStatus.category}} | <strong>Sub Category:</strong> {{vm.currentStatus.subCategory}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Stream</strong></td>
                            <td class="reportTD"> <a target="_blank" href="http://localhost:24123/stream-officer/-1//{{vm.currentStatus.streamId}}" style="text-decoration: none;"><strong>{{vm.currentStatus.steamName}}</strong></a> </td>
                        </tr>
                        <!--<tr class="reportTR">
        <td class="reportTD"><strong>Sub Category</strong></td>
        <td class="reportTD">{{vm.currentStatus.subCategory}}</td>
    </tr>-->
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Date of Commission</strong></td>
                            <td class="reportTD">{{vm.currentStatus.dateOfCommission | date:"dd-MMM-yyyy"}} &nbsp; &nbsp;   ({{vm.currentStatus.duration}}) | <strong>Batch:</strong> <a target="_blank" href="http://localhost:24123/officer-list-by-batch/{{vm.currentStatus.batchId}}" style="text-decoration: none;"><strong>{{vm.currentStatus.batch}}</strong></a></td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Seniority Date</strong></td>
                            <td class="reportTD">{{vm.currentStatus.seniorityDate | date:"dd-MMM-yyyy"}} &nbsp; &nbsp; <span ng-if="vm.currentStatus.seniorityDate != null">({{vm.currentStatus.seniorityDuration}})</span></td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Date of Retirement</strong></td>
                            <td class="reportTD"> </td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"> &nbsp; &nbsp; &nbsp; <strong>a. Svc Limit</strong></td>
                            <td class="reportTD">{{vm.currentStatus.serviceLimit|date: "dd-MMM-yyyy"}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD">&nbsp; &nbsp; &nbsp; <strong>b. Age Limit</strong></td>
                            <td class="reportTD">{{vm.currentStatus.ageLimit|date: "dd-MMM-yyyy"}}  <span ng-if="vm.currentStatus.extendedDuration !=null">| <strong>Service Extended:</strong> {{vm.currentStatus.extendedDuration}}</span></td>
                        </tr>
                        <tr class="reportTR" ng-if="vm.currentStatus.terminationType != null">
                            <td class="reportTD"><strong>Type of Retirement</strong></td>
                            <td class="reportTD">{{vm.currentStatus.terminationType}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Born (wef) | Born Date</strong></td>
                            <td class="reportTD">{{vm.currentStatus.bornOffice}}  | {{vm.currentStatus.bornDate | date:"dd-MMM-yyyy"}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Attached</strong></td>
                            <td class="reportTD"><a target="_blank" href="http://localhost:24123/office-appointment-structures/{{vm.currentStatus.attachOfficeId}}" style="text-decoration: none;"><strong>{{vm.currentStatus.attached}}</strong></a></td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Appointment</strong></td>
                            <td class="reportTD"><a target="_blank" href="http://localhost:24123/officer-list-by-appointment/{{vm.currentStatus.appointmentId}}" style="text-decoration: none;"><strong>{{vm.currentStatus.appointment}}</strong></a></td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Contact No</strong></td>
                            <td class="reportTD" style="color: blue; font-weight: bold;">{{vm.currentStatus.contactNo}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Email Address</strong></td>
                            <td class="reportTD" style="text-transform:lowercase;color: blue; font-weight: bold;">{{vm.currentStatus.email}}</td>
                        </tr>
                        <tr class="reportTR">
                            <td class="reportTD"><strong>Special Remarks</strong></td>
                            <td class="reportTD" style="color: blue">
                                <ol style="margin-bottom: 0px;margin-left: -25px; font-weight: bold;">
                                    <li ng-repeat="item in vm.remarks"> <span>{{item.remarks}} </span> </li>
                                    <!--<li ng-show="vm.specialNotification" style="margin-bottom: 15px;white-space:pre"> <strong style="color:#4A148C"> {{vm.currentStatus.notification}}</strong>  </li>-->
                                </ol>
                            </td>
                        </tr>
                    </table>


                </div>
                <!--for display-->
                <div class="col-sm-3 printNoScreen">
                    <img ng-if="vm.currentStatus.photo != null" src="{{vm.currentStatus.photo}}" style="display: block;margin-right: auto; margin-left: auto; width: 50%;height:200px;width: 165px" alt="Officer's Photo'" />
                    <img ng-if="vm.currentStatus.photo==null" src="../../../Images/officer.png" style="display: block;margin-right: auto; margin-left: auto; width: 50%;height:200px;width: 165px" alt="Officer's Photo'" />
                    <br />
                    <h4 style="text-align: center">P No: <span style="color: blue">{{vm.currentStatus.pNo}}</span> </h4>
                    <h5 style="text-align: center">Rank: <span style="color: blue">{{vm.currentStatus.rank}}</span> </h5>
                </div>

                <div class="col-sm-12">
                    <h4>Major Notification</h4>
                    <hr style="margin-top: -9px;" />




                    <!-- <marquee  scrollamount="8"  style="color: #4A148C; font-weight: bold;">{{vm.notifications[0].notificationText}}</marquee> -->

                    <ol style="font-weight: bold">
                        <li ng-repeat="item in vm.notifications" style="margin-bottom: 15px;{{item.cssStyle}}"> <strong style="{{item.cssStyle}}"> {{item.notificationText}}</strong>  </li>
                        <li ng-show="vm.specialNotification" style="margin-bottom: 15px;white-space:pre"> <strong style="color:#4A148C"> {{vm.currentStatus.notification}}</strong>  </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>