<div class="container-fluid">
    <div class="row">
        <div class="panel">
	        <div class="panel-body">

	            <h4 class="text-center" style="margin-top: -5px;">Branch wise Officer Summary</h4>
               
		        <div class="col-sm-12"></div>
		        <div class="table-wrapper table-responsive">
			        <table class="table table-bordered">
						<thead>
							<tr class="tableHeading">

								<th rowspan="2">Name</th>
								<th rowspan="2">X</th>
								<th rowspan="2">E</th>
								<th rowspan="2">S</th>
								<th rowspan="2">L</th>
								<th rowspan="2">Edu </th>
								<th rowspan="2">SD </th>
								<th rowspan="2" style=" width: 90px; "> Instr MO <br /> Med(Navy)</th>
								<th rowspan="2">Total</th>
								<th colspan="2">Med(Army)</th>
								<th rowspan="2">Hon</th>

							</tr>
							<tr class="tableHeading">


								<!--<th rowspan="2">WMO</th>
								<th rowspan="2">Instr<br /> MO</th>-->
								<th rowspan="2">AFNS</th>
								<th rowspan="2">AMC</th>


							</tr>
						</thead>
				        <tbody>
							<tr ng-repeat="branch in vm.dashboardBranches">
								<td><strong>{{branch.name}}</strong></td>
								<td style="text-align: center"><a href="" ng-if="branch.xValue>0" ng-click="vm.getOfficerList(branch.id,branch.x,0,0,0)"><strong>{{branch.xValue}}</strong></a> </td>
								<td style="text-align: center"><a href="" ng-if="branch.eValue>0" ng-click="vm.getOfficerList(branch.id,branch.e,0,0,0)"><strong>{{branch.eValue}}</strong></a></td>
								<td style="text-align: center"><a href="" ng-if="branch.sValue>0" ng-click="vm.getOfficerList(branch.id,branch.s,0,0,0)"><strong>{{branch.sValue}}</strong></a></td>
								<td style="text-align: center"><a href="" ng-if="branch.lValue>0" ng-click="vm.getOfficerList(branch.id,branch.l,0,0,0)"><strong>{{branch.lValue}}</strong></a></td>
								<td style="text-align: center"><a href="" ng-if="branch.eduValue>0" ng-click="vm.getOfficerList(branch.id,branch.edu,0,0,0)"><strong>{{branch.eduValue}}</strong></a></td>
								<td style="text-align: center"><a href="" ng-if="branch.sdValue>0" ng-click="vm.getOfficerList(branch.id,null,4,0,0)"><strong>{{branch.sdValue}}</strong></a></td>
								<!--<td style="text-align: center"><a href="" ng-if="branch.medValue>0" ng-click="vm.getOfficerList(branch.id,branch.med,4,10,1)"><strong>{{branch.medValue}}</strong></a> </td>-->
								<td style="text-align: center"><a href="" ng-if="branch.instrMOValue>0" ng-click="vm.getOfficerList(branch.id,branch.instrMo,2,6,2)"><strong>{{branch.instrMOValue}}</strong></a> </td>
								<td style="text-align: center"><a href="" ng-if="branch.total>0" ng-click="vm.getOfficerList(branch.id,null,0,0,0)"><strong>{{branch.total}}</strong></a></td>
								<td style="text-align: center"><a href="" ng-if="branch.afnsValue>0" ng-click="vm.getOfficerList(branch.id,branch.afns,6,2,6)"><strong>{{branch.afnsValue}}</strong></a> </td>
								<td style="text-align: center"><a href="" ng-if="branch.amcValue>0" ng-click="vm.getOfficerList(branch.id,branch.amc,6,13,6)"><strong>{{branch.amcValue}}</strong></a> </td>
								<td style="text-align: center"><a href="" ng-if="branch.honValue>0" ng-click="vm.getOfficerList(branch.id,null,5,0,0)"><strong>{{branch.honValue}}</strong></a> </td>

							</tr>
                  
				        </tbody>
			        </table>

		        </div>
		
	        </div>
        </div>
    </div>
</div>