<style>
    .module-6 {
        background: #050d3cc4;
        pointer-events: none;
        cursor: no-drop;
    }
    .module-5, .module-4, .module-3, .module-2, .module-1, .module-23, .module-30 {
        background: #050d3cc4;
    }
</style>
<section class="sidebar-section" ng-controller="LeftSideBarNavigationController as vm">
    <div id="sidebar-wrapper">
        <script type="text/ng-template" id="panelTemplate.html">
            <div id="{{parentId}}" class="sidebar-wrapper">
                <div ng-repeat="item in model">
                    <div data-toggle="collapse" data-parent="#{{parentId}}" data-target="#child{{$index}}" ng-click="model.selected = item">
                        <ul class="sidebar-nav">
                            <li>
                                <a href="" class="sidebar-nav-item module-{{item.orderNo}}" ng-click="vm.toggole()">
                                    {{item.name}}  
                                    <i class="fa fa-angle-down"  aria-hidden="true" style="float:right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="child{{$index}}" ng-class="{'collapse':true}">
                        <ul class="sub-menu">
                            <li ng-repeat="subitem in item.features">
                                <a ui-sref="{{subitem.actionNgHref}}">
                                    <strong> {{subitem.featureName}}</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </script>
        <side-Nav-Bar class="sidenavbar-wrapper" model="vm.model" id="test"></side-Nav-Bar>

    </div>
</section>





<!--ScrollBar Script Leftside Bar-->
<!--<script src="../../Scripts/scroll-bar.js"></script>-->
<script>
	new PerfectScrollbar('#sidebar-wrapper');

</script>
