<style>
    .vertical-menu {
        width: 220px;
        overflow: hidden;
        padding: 0 10px;
        float: left;
    }

        .vertical-menu a {
            background-color: #64B5F6;
            color: black;
            display: block;
            padding: 3px;
            margin-bottom: 3px;
            text-decoration: none;
            font-weight: 600;
            border-radius: 5px;
            text-align: center;
        }

            .vertical-menu a:hover {
                background-color: #337ab7;
                color: white;
            }

        .vertical-menu > .active {
            background-color: #19547D;
            text-decoration: none;
            color: white;
        }
</style>



<div class="">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                    <div class="vertical-menu">
                        <div class="input-group" style="margin-bottom: 10px;">
                            <input type="text" class="form-control" style="text-align: center" placeholder="PNO" ng-model="vm.searchPno" ng-keypress="$event.keyCode == 13 && vm.searchByPno(vm.searchPno)">
                            <span class="input-group-btn">
                                <button class="btn btn btn-success" type="button" ng-click="vm.searchByPno(vm.searchPno)"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        <a ng-repeat="item in vm.currentStatusMenues" ui-sref="current-status-tab.{{item.value}}" ui-sref-active="active">{{item.text}}</a>
                    </div>
                    <div ui-view style="padding-right: 15px"></div>
            </div>
        </div>
    </div>
</div>

