<div class="container-fluid">
	<div class="row">
		<div class="panel">
			<div class="panel-body">
				<div class="page-header">
				    <h2 class="warning page-header-item">Institute <span class="pull-right text-success">{{vm.title}}</span></h2>
				</div>
                <form name="vm.instituteForm">

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="boardType" class="custom-label">Type</label>
                            <select name="boardType" id="boardType" class="form-control" ng-change="vm.getBoardsByBoardType(vm.institute.boardType)" ng-model="vm.institute.boardType" ng-options="option.value as option.text for option in vm.boardTypes" required>
                                <option value="">--Select an Option--</option>
                            </select>
                            <p ng-show="vm.instituteForm.boardType.$error.required" class="help-block errormsg">Please select an Option</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="boardId" class="custom-label">Board/University</label>
                            <select name="boardId" id="boardId" class="form-control" ng-model="vm.institute.boardId" ng-options="option.value as option.text for option in vm.boards">
                                <option value="">--Select an Option--</option>
                            </select>
                            <p ng-show="vm.instituteForm.boardId.$error.required" class="help-block errormsg">Please select an Option</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="name" class="custom-label">Name</label>
                            <input type="text" id="name" class="form-control custom-form-control" ng-model="vm.institute.name" name="name" ng-maxlength="250" required />
                            <p ng-show="vm.instituteForm.name.$error.required" class="help-block errormsg">Name is required</p>
                            <p ng-show="vm.instituteForm.name.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="remarks" class="custom-label">Remarks</label>
                            <textarea type="text" id="remarks" class="form-control custom-form-control" ng-model="vm.institute.remarks" name="remarks" ng-maxlength="250"></textarea>
                            <p ng-show="vm.instituteType.remarks.$error.maxlength" class="help-block errormsg">Maximum character 250</p>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <button type="button" class="btn custom-btn btn-info" ng-click="vm.save()" ng-disabled="vm.instituteForm.$invalid"><span class="glyphicon glyphicon-floppy-disk"></span> {{vm.saveButtonText}}</button>
                        <button type="button" class="btn custom-btn btn-warning" ng-click="vm.close()"><span class="glyphicon glyphicon-remove-circle"></span> Close</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
</div>