<div class="container-fluid">
    <div class="row">
        <div class="panel">
	        <div class="panel-body">
	            <h3 class="text-center">Future Plan</h3>
	            <hr />
                
                <h4 ng-if="vm.courseFuturePlans.length>0">Course</h4>
	            <div ng-if="vm.courseFuturePlans.length>0" class="table-wrapper table-responsive">
			        <table class="table table-bordered">
				        <thead>
				        <tr class="tableHeading">
					        <th>SL</th>
					        <th>Course</th>
					        <th>Plan Date</th>
					        <th>End Date</th>
					       
				        </tr>
				        </thead>
				        <tbody>
				        <tr ng-repeat="item in vm.courseFuturePlans">
					        <td style="text-align: center; width: 50px;">{{$index+1}}</td>
                            <td>{{item.course}}</td>
                            <td style="text-align: center; width: 100px;">{{item.planDate |date:"dd-MMM-yyyy"}}</td>
                            <td style="text-align: center; width: 100px;">{{item.endDate |date:"dd-MMM-yyyy"}}</td>
				        </tr>
				        </tbody>
			        </table>

		        </div>
		
			    <h5 ng-if="vm.courseFuturePlans.length==null" class="text-center" style="margin-top: 15px;">No data found. </h5>

                    
                
	            <h4  ng-if="vm.transferFuturePlans.length>0">Transfer</h4>
	            <div ng-if="vm.transferFuturePlans.length>0" class="table-wrapper table-responsive">
	                <table class="table table-bordered">
	                    <thead>
	                    <tr class="tableHeading">
	                        <th>SL</th>
	                        <th>Office</th>
	                        <th>Appointment</th>
	                        <th>Plan Date</th>
	                        <th>End Date</th>
					       
	                    </tr>
	                    </thead>
	                    <tbody>
	                    <tr ng-repeat="item in vm.transferFuturePlans">
	                        <td style="text-align: center; width: 50px;">{{$index+1}}</td>
	                        <td>{{item.office}}</td>
	                        <td>{{item.appointment}}</td>
	                        <td style="text-align: center; width: 100px;">{{item.planDate |date:"dd-MMM-yyyy"}}</td>
	                        <td style="text-align: center; width: 100px;">{{item.endDate |date:"dd-MMM-yyyy"}}</td>
	                    </tr>
	                    </tbody>
	                </table>

	            </div>
		
	            <h5 ng-if="vm.transferFuturePlans.length==null" class="text-center" style="margin-top: 15px;">No data found. </h5>

                

	        </div>
        </div>
    </div>
</div>