<div class="container-fluid pdfReportFormCover">
    <div class="row">
        <div class="panel">
            <button  class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.printSection('print')"><span class="glyphicon glyphicon-print"></span> Print</button>

            <div class="panel-body" id="print">
			    <h3  class="reportHeader"> HOD Services</h3>
                <hr />
                <h4 class="noScreen" style="border-bottom: 3px solid blue;font-family: Arial">{{vm.officerName}} ({{vm.pNo}})</h4>
                <div ng-if="vm.hodServices.length>0" class="table-wrapper table-responsive reportCover">
                    <table class="table table-bordered pdfReportTable" border="1">
                        <thead class="reportThead">
                            <tr class="tableHeading reportTR">
                                <th>Organization Name</th>
                                <th>Appointment</th>
                                <th>From Date</th>
                                <th>To Date </th>
                                <th>Duration</th>
                            </tr>
                        </thead>
                        <tbody class="reportBody">
                            <tr class="reportTR" ng-repeat="hodService in vm.hodServices">
                                <td class="reportTD">{{hodService.organizationName}}</td>
                                <td class="reportTD">{{hodService.appointment}}</td>
                                <td class="reportTD" style="text-align: center; width: 100px;">{{hodService.fromDate | date:"dd-MMM-yyyy"}}</td>
                                <td class="reportTD" style="text-align: center; width: 100px;" ng-if="hodService.toDate !='Total'">{{hodService.toDate | date:"dd-MMM-yyyy"}}</td>
                                <td class="reportTD"style="text-align: center; width: 100px;" ng-if="hodService.toDate=='Total'"><strong>{{hodService.toDate | date:"dd-MMM-yyyy"}}</strong></td>
                                <td class="reportTD"style="text-align: center;text-transform: lowercase;">{{hodService.duration}}</td>
                            </tr>

                        </tbody>
                    </table>

			    </div>
                


			</div>
        </div>
    </div>
</div>