<div class="container-fluid">
    <div class="row">
        <div class="panel">
            <div class="panel-body">
                <div class="page-header">
                    <h2 class="warning page-header-item">Officer Family Permission</h2>
                    <button ng-show="vm.permission.add" class="btn custom-btn custom-btn-primary pull-right" type="button" data-ng-click="vm.addEmployeeFamilyPermission()"><span class="glyphicon glyphicon-user"></span> Add</button>
                    <!--<button class="btn custom-btn btn-success" style="margin-left: 25px;" type="button" data-ng-click="vm.reasonList()">Reason List</button>-->
                    <div ng-include="'app/templates/search.html'" class="search-wrapper"></div>
                </div>
                <div class="table-wrapper table-responsive">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>SL</th>
                                <th>Officer PNO</th>
                                <th>Officer Name</th>
                                <th>Relation Type</th>
                                <th>Country</th>
                                <th>Relative Name</th>
                                <th>Visit Purpose</th>
                                <th>Duration From</th>
                                <th>Duration To</th>
                                <th>Remarks</th>
                                <th class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="employeeFamilyPermission in vm.employeeFamilyPermissionList">
                                <td>{{$index+1}}</td>
                                <td>{{employeeFamilyPermission.employee.pNo}}</td>
                                <td>{{employeeFamilyPermission.employee.fullNameEng}}</td>
                                <td>{{employeeFamilyPermission.relation.name}}</td>
                                <td>{{employeeFamilyPermission.country.fullName}}</td>
                                <td>{{employeeFamilyPermission.relativeName}}</td>
                                <td>{{employeeFamilyPermission.visitPurpose}}</td>
                                <td style="width: 100px;">{{employeeFamilyPermission.fromDate | date: "dd-MMM-yyyy"}}</td>
                                <td style="width: 100px;">{{employeeFamilyPermission.toDate | date: "dd-MMM-yyyy"}}</td>
                                <td>{{employeeFamilyPermission.remarks}}</td>
                                <td class="text-right">
                                    <a ng-show="vm.permission.update" class="btn custom-btn btn-edit custom-btn-primary btn-xs" ng-click="vm.updateEmployeeFamilyPermission(employeeFamilyPermission)"><span class="glyphicon glyphicon-edit" aria-hidden="true" title="Edit"></span></a>
                                    <a ng-show="vm.permission.delete" class="btn custom-btn btn-delete btn-danger btn-xs" style="cursor:pointer" ng-confirmation-click="vm.deleteEmployeeFamilyPermission(employeeFamilyPermission)"
                                       ng-confirmation-message="Do you want to delete Employee Family Permission ?"
                                       ng-confirmation-title="Delete Employee Family Permission ?"
                                       ng-confirmation-yes-text="Yes"
                                       ng-confirmation-cancel-text="No"><span class="glyphicon glyphicon-trash" aria-hidden="true" title="Delete Employee Security Clearance"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="pagenation-wrapper" ng-if="vm.employeeFamilyPermissionList.length > 0">
                        <ul uib-pagination items-per-page="vm.pageSize" total-items="vm.total" ng-change="vm.pageChanged()" ng-model="vm.pageNumber" max-size="5" class="pagination" boundary-link-numbers="true"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


