<!-- HEADER-SECTION START -->
<section class="main-header-section" ng-controller="TopNavigationController as vm">

    <!-- header-section -->
    <div class="fixed-header-section">
        <div class="header-wrapper">
            <div class="col-sm-8 logo-wrapper">
                <img class="logo img-responsive" src="/images/BNLogo.png" width="60" style="height: 30px;" alt="BN Logo">
                <h2 class="logo-text">  BANGLADESH NAVY OFFICERS' INFORMATION SYSTEM</h2>
            </div>
            <div class="col-sm-4 user-wrapper">
                <ul class="pull-right">
                    <li>
                        <a href="" data-toggle="modal" data-target="#forgetPassword" ><i class="fa fa-user " aria-hidden="true"></i> {{ vm.userName }}</a>
                    </li>
                    <li>
                        <a href="" ng-click="vm.logOutOfIdSrv()"><i class="fa fa-power-off" aria-hidden="true"></i> sign out</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <!-- /header-section -->


    <div class="modal fade" id="forgetPassword" role="dialog" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Change Password</h4>
                </div>
                <form name="accountInfoForm">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="oldPassword" class="custom-label">Previous Password</label>
                        <input type="password" id="oldPassword" class="form-control" ng-model="vm.accountInfo.oldPassword" required>
                        <p ng-show="vm.accountInfoForm.oldPassword.$error.required" class="help-block errormsg">Previous Password Is Required</p>
                    </div>

                    <!-- <div class="col-sm-12"></div> -->

                    <div class="form-group">
                        <label for="newPassword" class="custom-label">New Password</label>
                        <input type="password" id="newPassword" class="form-control" ng-model="vm.accountInfo.newPassword" required ng-maxlength="25" ng-minlength="8">
                        <p ng-show="vm.accountInfoForm.newPassword.$error.required" class="help-block errormsg">New Password Is Required</p>
                        <p ng-show="vm.accountInfoForm.newPassword.$error.maxLength" class="help-block errormsg">Maximum character 25</p>
                        <p ng-show="vm.accountInfoForm.newPassword.$error.minLength" class="help-block errormsg">Minimum character 8</p>
                    </div>

                    <!-- <div class="col-sm-12"></div> -->


                    <div class="form-group">
                        <label for="confirmPassword" class="custom-label">Confirm Password</label>
                        <input type="password" id="confirmPassword" class="form-control" ng-model="vm.accountInfo.confirmPassword" required ng-maxlength="25" ng-minlength="8">
                        <p ng-show="vm.accountInfoForm.newPassword.$error.required" class="help-block errormsg">Confirm Password Is Required</p>
                        <p ng-show="vm.accountInfoForm.newPassword.$error.maxLength" class="help-block errormsg">Maximum character 25</p>
                        <p ng-show="vm.accountInfoForm.newPassword.$error.minLength" class="help-block errormsg">Minimum character 8</p>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success pull-left" data-dismiss="modal" ng-disabled="vm.accountInfoForm.$invalid" ng-click="vm.changePassword(vm.accountInfo)">Change</button>
                </div>

             </form>




            </div>
        </div>
    </div>
</section>
<!-- HEADER-SECTION END -->
